/*html { 
  	background: url(../images/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}*/
body{
	padding:0px;
}
#marquee{
	 background: url(../images/background.jpg) no-repeat center center fixed; 
  	height:100vh;
    width:100vw;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

a:hover{
  	border-bottom: 1px solid transparent;
  	border-color: red;
}
.hidden-item{
  display:none;
}

.visible-item{
  display:inline;
}

#red{
  color:red;
}
.title{
	font-size:3em;
	position: absolute;
  	top: 50%;
  	left: 15%;
  	transform: translate(-50%, -50%);
  	color: white;
  	text-align: left;
  	border-bottom:solid 2px red;
}
.subtitle{
	font-size:1.3em;
	position: absolute;
  	top: 57%;
  	left: 15%;
  	transform: translate(-50%, -50%);
  	color: white;
  	text-align: left;
}

#scroll-down{
	font-size:.9em;
	position: absolute;
  	top: 96%;
  	left: 48%;
  	transform: translate(-50%, -50%);
  	color: white;
  	text-align: center;
  	border:solid 1px white;
}

#right_menu{
	position:absolute;
	top:45%;
	right:5%;
	color:white;
	text-align:right;
}


li{
	list-style:none;
}
li:hover{
}
img{
	margin:50px 5px 5px 5px;
  width:360px;
  height:220px;
}
.img-responsive{
  height:220px;
}
.bigger{
	font-weight: bold;
}
.nav{
  margin-left:30%;
}
.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}
.navbar-inverse{
  background-color: rgba(0,0,0,.75);
}
.headline{
  font-size:1.3em;
  color:#2f4f4f;
}

